/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}
mat-table {
  width: 100%;
  overflow-x: auto;
  height: 10%;
}
.menu {
  margin-left: 8px;
  cursor: pointer;
}
.green{
  color: green;
}