<div class="flex">
  <div>
    <div class="flex">
      Clients <br>
      {{count}}
      <span mat-icon-button [matMenuTriggerFor]="myMenu" class="menu flex green">
        <mat-icon>add</mat-icon>Add Clients
      </span>
    </div>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>
  </div>

</div>


<div class="mat-elevation-z8">
  <app-scroll-container [more]="hasMore()"
                      [scrollOffset]="2500"
                      [scrollDelay]="3000"
                      (scrolled)="handleScroll($event)"
                      [class.full]="full"
                      [class.part]="!full">
  <table mat-table [dataSource]="dataSource" matSort class="mat-table">

    <!-- Client Name Column -->
    <ng-container matColumnDef="Client Name">
      <th mat-header-cell *matHeaderCellDef> Client Name </th>
      <td mat-cell *matCellDef="let row"> {{row.Client_Name}} </td>
    </ng-container>

    <!-- Countries Column -->
    <ng-container matColumnDef="Countries">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Countries </th>
      <td mat-cell *matCellDef="let row"> {{row.Countries}} </td>
    </ng-container>

    <!-- Entries Column -->
    <ng-container matColumnDef="Entries">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Entries </th>
      <td mat-cell *matCellDef="let row"><mat-icon>groups</mat-icon> {{row.Entries}} </td>
    </ng-container>

    <!-- Professionals Column -->
    <ng-container matColumnDef="Professionals">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Professionals </th>
      <td mat-cell *matCellDef="let row"><mat-icon>groups</mat-icon> {{row.Professionals}} </td>
    </ng-container>

    <!-- Employees Column -->
    <ng-container matColumnDef="Employees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Employees </th>
      <td mat-cell *matCellDef="let row"><mat-icon>groups</mat-icon> {{row.Employees}} </td>
    </ng-container>

    <!-- Contract Start Column -->
    <ng-container matColumnDef="Contract Start">
      <th mat-header-cell *matHeaderCellDef> Contract Start </th>
      <td mat-cell *matCellDef="let row"> {{row.Contract_Start|date}} </td>
    </ng-container>

    <!-- Contract End Column -->
    <ng-container matColumnDef="Contract End">
      <th mat-header-cell *matHeaderCellDef> Contract End </th>
      <td mat-cell *matCellDef="let row"> {{row.Contract_End|date}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> <mat-icon [ngClass]="'green'">{{row.Status}}</mat-icon></td>
    </ng-container>

    <ng-container matColumnDef="Star">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  </app-scroll-container>
  <!-- <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator> -->
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>undo</mat-icon>
    <span>Reset user</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>delete</mat-icon>
    <span>Delete user</span>
  </button>
</mat-menu>

<mat-menu #myMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>visibility</mat-icon>
    <span>View user list</span>
  </button>
  <button mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Add users</span>
  </button>
</mat-menu>